<div class="list-group" id="list-tab" role="tablist">
  <a class="list-group-item list-group-item-action pl-5" style="border-radius: 0px;" [ngClass]="{'active': tabSelected == 1 }" (click)="selectTab(1)">Home</a>
  <a class="list-group-item list-group-item-action pl-5" style="border-radius: 0px;" [ngClass]="{'active': tabSelected == 2 }" (click)="selectTab(2)">About</a>
  <a class="list-group-item list-group-item-action pl-5" style="border-radius: 0px;" [ngClass]="{'active': tabSelected == 3 }" (click)="selectTab(3)">End</a>
</div>